<div class="row">
    <div class="col-md-4" *ngFor="let partida of partidas">
        <div class="card">
            <div class="card-body">
                <h6>Dia: {{partida['dia']}}/{{partida['mes']}}/{{partida['ano']}}  Hora: {{partida['hora']}} </h6>
                <h6></h6>
                <p> </p>
                <h6>Lugar: {{partida['lugar']}} </h6>
                <h6>Dificultad: {{partida['dificultad']}} </h6>
            </div>
            <div class="card-footer">
              
            </div>
        </div>
    </div>
</div>