
<div class="col-lg-8 mx-auto"> <!-- //mx-auto para centrarlo -->
    <div class="jumbotron" style="background-color: #b4cbf4">
        <h5>{{principal}}</h5> 
        <h6>{{conta}}</h6> 
        <p>Email: infotennislaguna@info.com</p>
        <p>Teléfono: 8937392920</p>
        <h6>Nuestras instalaciones:</h6>
        <p align="right"><img src="assets/img/dia.jpg" width="300px" height="200px"></p>
        <p align="left"><img src="assets/img/noche.jpg" width="300px" height="200px"></p>

    </div>
</div>

<p></p>
<div class="col-lg-8 mx-auto"> 
    <div class="jumbotron" style="background-color: #BCD9FE">
        <h6>Partidos:</h6>
        <p align="center"><img src="assets/img/jugando.jpg" width="300px" height="200px"></p>
        <p align="center"><img src="assets/img/niña.jpg" width="300px" height="200px"></p>

    </div>
</div>

