<div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron">
      <h1>{{title}}</h1>
      <p>Distruta con nosotros de partidos todos los días en toda la zona de la Laguna </p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button" [routerLink] = "['/partidos']">Ver partidos</a></p>
    </div>
</div>

<div class="col-lg-8 col-lg-offset-2">
<span class="label label-info" [routerLink] = "['/signin']">SignIn</span>
<span class="label label-warning" [routerLink] = "['/signup']">SignUp</span>
</div>
